body, html {
    height: 100%; 
    font-family:sans-serif;
    background-color:#3D3D3D;
  
}
#header{
    position:fixed;
    left:0;
    z-index: 500;
    width: 100%;
    height: 170px;
    background-color:whitesmoke;
}
#header a{
    width:27%;
    height:35px;
    color: black;
    text-align: center;
}

img{
  vertical-align:middle; 
}
h3{
    display: inline-table;
    color:white;
}
p{
    align-items: center
    display: list-item;
}
#main{
    margin-top: 200px;
}
h3{
    font-family: sans-serif;
}
font{
    color:white;
}
h1{
    font-family:sans-serif;
}
#content{
    padding-top:2px;
    padding-bottom:30px;
}

a.info-box{
      text-decoration : none;
      background      : rgba(255,255,255,.8);
      width           : 90%;
      height          : 90px;
      display         : block;
      margin          : auto;
      margin-top      : 12px;
      padding         : 1px;
      margin-bottom   : 30px;
      padding-bottom  : 2px; 
}
.info-box img{
      height : 70px;
      margin : 10px;
      float  : left;
}

.info-box h3{
      padding : 0;
      margin-bottom :0;
      width : 10%;
      color :black;
}

.info-box p{
      margin  : 0;
      padding : 0;
      width   : 90%;
      color   : #131313;
}

.info-box img.right{
      float      : right;
      margin-top : 25px;
      height     : 40px;
}

#info-box-final{
      background-color : rgba(255, 255, 255, .8) ;
      width   : 90%;
      display : block;
      margin  : auto;
      margin-top : 12px;
      padding    : 10px;
}
#info-box-final img{
      width : 100%;
}
.map{
    align-content: center;
}
p5{
    color:black;
    font-style: italic;
}
#footer{
    text-align: center;
    left:0;
    padding-bottom: 0;
    z-index:0;
    width: 100%;
    height: 120px;
    background-color:whitesmoke;
}
.container {
  position:relative;
  width: 40%;
}

.image {
  opacity: 1;
  display: block;
  width: 20%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position:inherit;
  top: 50%;
  left: 50%;
  transform: translate(-20%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align:center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color:#878686;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}